* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  border: 1px solid black;
  height: 100%;
  flex: auto;
  color: rgb(110, 44, 44);
}

.grid {
    display: flex;
    flex-shrink: 1;
    width: 100%;
}

.grid-container {
  display: flex;
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
}
