* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  border: 1px solid black;
  height: 100%;
  flex: auto;
}

.grid {
    display: flex;
    width: 100%;
}

.grid-container {
  display: flex;
  width: 70vw;
  height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
}
