.square {
  border: 1px solid black;
  height: 100%;
  flex: auto;
}

.grid {
  display: flex;
  width: 100%;
}

body {
  background-color: black;
}

.grid-container {
  display: flex;
  width: 70vw;
  height: 120vh;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: white;
  filter: drop-shadow(20px 20px 40px white);
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}